@charset "UTF-8";
body{
    background:linear-gradient(0.9turn,rgb(171,205,255),rgb(110, 167, 253)) ;
    
    font: normal 15pt arial;
}
header{
    color: white;
    text-align: center;
}
section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.37);
}
input#verificar{
    width: 100px;
    height: 35px;
}
input#verificar:hover{
    background: rgb(99, 159, 248);
    box-shadow: 0 0 5px rgb(99, 159, 248), 0 0 25px rgb(99, 159, 248), 0 0 50px rgb(99, 159, 248), 0 0 200px rgb(99, 159, 248);
}
footer{
    color: white;
    text-align: center;
    font-style: italic;
    padding-top: 10px;
}
